<h1>Listing instances</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <td></th>
    <th></th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= link_to instance.name, instance %></td>
    <td><%= instance.status %></td>
    <td>
      <%= link_to 'Start', start_instance_path(instance) if instance.status == "stopped" %>
      <%= link_to 'Stop', stop_instance_path(instance) if instance.status == "running" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance', new_instance_path %>
